{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<div class="col-sm-8">
    {% include 'flash_messages.html.twig' %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.datePublished|date("m/d/Y H:i") }}</p>
    <p class="text-justify">{{ article.content }}</p>
    <p class="small text-center">Cache refreshed: {{ "now"|date("m/d/Y H:i:s") }}</p>
</div>
{% endblock %}
