<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <title>{% block title %}Welcome!{% endblock %}</title>
  </head>
  <body>
    <header>
        <div class="mx-auto" style="width: 200px; padding: 30px 0;">
            <p class="h1"><a href="{{ path('homepage') }}">My articles</a></p>
        </div>
        <p class="text-center">
            {% for lang in available_locales %}
                <a href="{{ path('homepage', {'_locale': lang}) }}">{{ lang }}</a>
            {% endfor %}
        </p>
    </header>
    <div class="container">
        <div class="row">
            {% block body %}{% endblock %}
            <div class="col-sm-4">
                {% block sidebar %}
                    {{ render_esi(controller('App\\Controller\\ArticleController::sidebar', { 'numberOfArticles': 10 })) }}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer style="padding: 50px 0;">
        <p class="text-center"><a href="{{ path('add') }}">{{ 'add.article'|trans }}</a></p>
        <p class="text-center">Tracking code from twig globals: {{ tracking_code }}</p>
    </footer>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/main.js') }}"></script>
  </body>
</html>
