{% extends 'base.html.twig' %}

{% block body %}
<div class="col-sm-8 offset-sm-2">
    <p>{{ 'welcome.message'|trans }}</p>
    <p>{{ 'articles.count.text'|transchoice(totalArticles) }}</p>
    {% for article in articles %}
        <div style="padding: 20px 0;">
            <h2><a href="{{ path('article', {'slug': article.slug}) }}">{{ article.title }}</a></h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
    <p>{{ languages }}</p>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}
